
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

  body {
  background-color: #555;
  margin: 0;
}

main {
  width: 80%;
  margin: 5vh auto;
  background-color: #fff;
  min-height: 90vh;
  text-align: center;
  overflow: auto;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

img {
  width: 25%;
}

h1, h2 {
  font-family: "Baloo Chettan 2", sans-serif;
}

h2 {
  font-size: 3em;
}
