body {
  margin: 0;
}

img {
background-image: url(https://picsum.photos/id/237/200/300);
height: 500px;
width: 700px;
background-repeat: no-repeat;
background-size: auto;
background-position: center;
object-fit: contain;
}

h2 {
  float: right;
  flex: auto;
}

nav {
  display: flex;
  background-color: white;
}

nav a {
  background-color: red;
  color: black;
  padding: 0.25em 0.5em;
  margin: auto;
  transition: background-color 0.8s;
}

nav a:hover {
  background-color: blue;
}

nav, main {
	box-sizing: border-box;
}

header {
  background-color: black;
  overflow: auto;
}

h1 {
  font-size: 4em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 2em;
}


h5 {
  font-size: 4em;
}
